.main{
    margin-top: 15px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.container{
    margin-right: auto;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
}
.title-detail {
    font-weight:900;
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    line-height: 1.2;
    white-space: normal;
    margin-bottom: 2%;
}

.col-info{
   margin-left: 0;
}
.category-text
{
    
    background-color: #eee;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 10px;
    color: black ;
}
a {
    color: inherit ;
    text-decoration: none !important;
}

.name{
    font-weight:500;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.detail-content, .other-name{
    border-top: 2px solid #d4dae2;
    margin-top: 10px;
    padding-top: 10px;
}
.list-chapter span {
    display: inline-block;
}
.al-c {
    text-align: center;
}
.list-chapter .title {
    width: 375px;
}
.list-chapter .list-wrap {
    max-height: 340px;
    overflow: auto;
}
.list-chapter .list-wrap p a {
    color: #02770c;
    display: block;
    padding: 5px 3px;
}
.list-chapter .list-wrap p a:hover {
    color: #e7eb1b;
    background-color: rgb(90, 90, 212)  ;
}
.list-wrap .chapter-info:hover{
    color: #e7eb1b;
    background-color: rgb(90, 90, 212)  ;
}
.others-info .others-name a:hover{
    color: rgb(18, 114, 42) !important ;
}
.others-info .others-name a{
    color: black;
}
.favorite-button
{
    display:inline-block;
    text-align: center;
    margin-right: auto;
    
}
.interactive-button{
    text-align: center;
}
p{
    margin-bottom: 2%;
}
.chapter-info{
    margin-bottom: 1%;
}
.rating{
    display:inline-block;
    text-align: center;
    margin-right: auto;
}


/*thanh ben phai */
.basic-section {
    margin-bottom: 20px;
    background-color: hsla(0,0%,100%,.9);
    border-color: #e4e5e7 #dadbdd hsla(210,4%,80%,.8);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}



.basic-section .sect-header {
    font-weight: 700;
    background-color: #f4f5f6;
    border-bottom: 1px solid #dadbdd;
    padding: 10px;
}


ul.others-list {
    margin: 0;
    padding: 10px;
}

ul.others-list li {
    padding-bottom: 20px;
    padding-top: 10px;
}

ul.others-list li .others-img {
    float: left;
    margin-right: 10px;
}

.others-img .a6-ratio .img-in-ratio img {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 50px;
    height: 70px;
}


ul.others-list li .others-info {
    padding-left: 60px;
}

ul.others-list li .others-name {
    display: block;
    font-weight: 700;
    overflow: hidden;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.others-list li small.series-summary-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.series-users {
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: hsla(0,0%,100%,.9);
    border-color: #e4e5e7 #dadbdd hsla(210,4%,80%,.8);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

.series-users .series-owner {
    background-color: #36a189;
    display: block;
    position: relative;
    width: 100%;
}

.series-users .series-owner img {
    display: block;
    height: 60px;
    width: 60px;
    z-index: 2;
}

.series-users .series-owner-title {
    left: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.series-users .series-owner_name {
    font-weight: 700;
    padding-right: 20px;
}

.series-users .series-owner_name a {
    color: #fff;
}
/* .navbar-expand-sm .navbar-nav .nav-link 
{
    margin-left: 80px !important;
} */


.chapter-info:nth-child(even) {background-color: #f2f2f2;}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-weight: lighter;
}
/* .fa-heart:hover{
    cursor: pointer;
    
}
.fa-heart{
    
    color: rgb(219, 79, 121);
} */
.rating-favourite-button{
    margin-left: 30px;

}
.avatar{
    width: 48px;
    float: left;
    margin-right: 10px;
}
.comment{
   
    padding: 10px;
}

.comment-box{
    border-top: 2px solid #999292;
    padding-top: 12px;

}

.text-panel{
    
    width: 90%;
    margin-bottom: 10px;
}
.ck-content .table {
    width: 100px;
}
.form-control .comment{
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border-top: 2px solid #999292;
    min-height: 85px;
}
.control-button{
    float: right;
}
.comment-showing{
    padding: 10px;
    border-top: 1px solid #dedada;
    min-height: 85px;
    
}
.comment-name{
    color: #2290d0;
}
.content-showing{
    margin-bottom: 5px;
    overflow-wrap: break-word;
}


.button-control{
    margin-top: 3px;
    width: 100%;
    font-size: 12px;
    float: right;
}
.action-admin-bar{
    color: #fff;
    position: relative;
    top: 4px;
   float: right;
}
.fa-star{
    color: #FFD119;
}
.input-update-comment{
    width: 70%;
}
.editcomment, .deletecomment{
    cursor: pointer;
}