body {font-family: "Lato", sans-serif;}

.dropdown-menu{
    margin-right: 0px;
}

.dropdown-menu[data-bs-popper]{
    left:auto !important;
    right: 0;
}

.content{
   
    margin-right: 11%; 
    margin-left: 12%;
}
.top-tab_title.title-active {
    background-color: rgba(25,26,26,.8);
    color: #fff;
    display: inline-block;
    padding: 4px 8px;
}

.top-tab_title {
    border-bottom: 2px solid transparent;
    color: #aaa;
    font-weight: 700;
    margin-right: 10px;
    font-family: "fantasy";
}

.top-tab_title.title-active i {
    color: #f0bc00;
    display: inline;
}

.fa, .far, .fas {
    /* font-family: "Font Awesome 5 Free"; */
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
} 
.truyen-moi-cap-nhat{
    max-width: 100%;
}
.title{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid gray;
}
.title-1{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4px 8px;
    color: #fff;
    
}
.title-2{
    padding: 4px 8px;
    color: rgb(0, 0, 0);
    
}
.thumb-item-flow {
    margin-bottom: 10px;
    margin-top: 10px;
}

.thumb-item-flow .thumb-wrapper {
    color: #fff;
    position: relative;
}

.thumb-item-flow .thumb-detail {
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.8) 67%,rgba(0,0,0,.8));
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.thumb-item-flow .thumb_attr.chapter-title {
    font-weight: 700;
    font-size:small;
}

.thumb-item-flow .thumb_attr.volume-title {
    color: #17deb3;
    
}

.thumb-item-flow .thumb_attr.series-title {
    font-size: 14px;
    /* font-size: 1.4rem; */
    font-weight: 700;
    height: 4.2rem;
    line-height: 22px;
    /* line-height: 2rem; */
    margin-bottom: 4px;
    margin-top: 6px;
    overflow: hidden;
    text-align: center;
}
#tba-list .tba-item .info-item, #tba-list .tba-item .tba-detail .series-title, .attached-series .series-info .series-name, .bookmark-item .series-title, .comment-item .comment-location, .comment-item .comment-user_name, .comment-item .series-name, .comment-item-at-index .comment-location, .comment-item-at-index .comment-user_name, .comment-item-at-index .series-name, .daily-recent_views .sub-line, .last-topics .topic-data, .licensed-list-page #licensed-list .info-item, .line-ellipsis, .new-series .list-detail .series-title, .page-author .author_name, .private-tabs header .user-name, .rank-cirle .series-detail .series-title, .thumb-item-flow .thumb_attr.chapter-title, .thumb-item-flow .thumb_attr.volume-title, .user-pm .mail-name, .user-pm .sender-name, table.broad-table tr td, table.broad-table tr td .topic-username, table.broad-table tr th, table.listext-table tr td, table.listext-table tr td small, table.listext-table.has-covers tr td .series-name, ul.bookmarks_list .chapter-title, ul.bookmarks_list .volume-title, ul.list-chapters li .chapter-name, ul.mail-participants li, ul.others-list li  {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* .img-in-ratio {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.a6-ratio>.content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
} */
.a6-ratio>.content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.img-in-ratio {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.a6-ratio {
    position: relative;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:#10b18e; 
}
.thumb-item-flow .thumb_attr.series-title a:hover{
   
        color:#10b18e; 
        text-decoration:none; 
        cursor:pointer;  
   
}
.title-story{
    font-size: 16px;
    /* font-size: 1.6rem; */
    font-weight: 700;
    height: 20px;
    line-height: 22px;
    margin-bottom: 4px;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}


.thumb-see-more {
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.thumb-see-more .see-more-inside {
    border: 1px solid #eee;
    height: 100%;
    position: relative;
    width: 100%;
}
.thumb-see-more .see-more-content {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.thumb-see-more .see-more-content .see-more-icon {
    font-size: 40px;
    /* font-size: 4rem; */
}
.owl-theme .owl-nav {
    margin-top: 0;
}
.col-md-6{
    border: solid red 1px;
}
.series-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.series-summary{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
h4{
    font-weight: 700;
}
.lastest-chapter{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-item{
    margin: 10px 0;
}
.list-story-new{
margin-bottom: 50px;
}



.Wdgt {
    position: relative;
    z-index: 0;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    border: solid 1px;
}
.title-favourite{
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    margin-bottom: 10px;
}
.TPost.A {
    position: relative;
    padding-left: 65px;
    min-height: 85px;
    margin-bottom: 15px;
    border-bottom: solid 1px;
}
.Wdgt>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.TPost .Top {
    color: #333;
    background-color: #ffc107;
    position: absolute;
    left: -5px;
    top: -4px;
    min-width: 22px;
    padding: 0 5px;
    border-radius: 3px 0 0 0;
    z-index: 1;
    font-size: .6rem;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    font-size: .6rem;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
}

.TPost .Top>i {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    
}
.TPost .Top>i:before {
    border-left: 11px solid transparent;
    float: right;
}
.TPost .Top>i:before, .TPost .Top>i:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-top-color: #ffc107;
    
}
.TPost .Top>i:after {
    border-right: 11px solid transparent;
    float: left;
}
.TPost.A .Image {
    position: absolute;
    width: 55px;
    left: 0;
    top: 0;
}
.TpMvPlay:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
    z-index: 2;
    transform: scale(0);
}
.TpMvPlay:before, .TpMvPlay:after {
    transition: .2s;
    opacity: 0;
}

.TPost .Title-story-favourite {
    line-height: 20px;
    
    transition: .4s;
    max-height: 40px;
    overflow: hidden;
    font-weight: 400;
}
p.Info>span.Qlty, .Qlty {
    font-size: .625rem;
}
.Qlty {
    background-color: #000000;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    line-height: 20px;
    padding: 0 .6rem;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
}

/* // */

/*thanh ben phai */
.basic-section {
    margin-bottom: 20px;
    background-color: hsla(0,0%,100%,.9);
    border-color: #e4e5e7 #464646 hsla(210,4%,80%,.8);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}



.basic-section .sect-header {
    font-weight: 700;
    background-color: #f4f5f6;
    border-bottom: 1px solid #dadbdd;
    padding: 10px;
}


ul.others-list {
    margin: 0;
    padding: 10px;
}

ul.others-list li {
    padding-bottom: 20px;
    padding-top: 10px;
}

ul.others-list li .others-img {
    float: left;
    margin-right: 10px;
}

.others-img .a6-ratio .img-in-ratio img {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 50px;
    height: 70px;
}


ul.others-list li .others-info {
    padding-left: 60px;
}

ul.others-list li .others-name {
    display: block;
    font-weight: 700;
    overflow: hidden;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.others-list li small.series-summary-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.series-users {
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: hsla(0,0%,100%,.9);
    border-color: #e4e5e7 #dadbdd hsla(210,4%,80%,.8);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

.series-users .series-owner {
    background-color: #36a189;
    display: block;
    position: relative;
    width: 100%;
}

.series-users .series-owner img {
    display: block;
    height: 60px;
    width: 60px;
    z-index: 2;
}

.series-users .series-owner-title {
    left: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.series-users .series-owner_name {
    font-weight: 700;
    padding-right: 20px;
}

.series-users .series-owner_name a {
    color: #fff;
}
/* .navbar-expand-sm .navbar-nav .nav-link 
{
    margin-left: 80px !important;
} */


.chapter-info:nth-child(even) {background-color: #f2f2f2;}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-weight: lighter;
}
/* }
.description-content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
} */