
.button-login-register{
    width: 218px;
    color: #f1f1f1 !important;
  }
  .login-register{
    color: #f1f1f1 ;
  }
a {
    text-decoration:none !important;
    /* color: rgb(255, 255, 255) !important; */
  }
.login-register:hover{
    color: rgb(208, 250, 160) !important;
  }
.space-button-login-register{
    width: 10px;
    margin-right: 15px;
  }
  .navbar-brand:hover{
    color: rgb(208, 250, 160) ;
  }
  .navbar-brand{
    color: #f1f1f1;
  }
.form-group {
    margin-bottom: 15px;
}
.form-login{
    margin-top: 7%;
  }
  .btn-link{
    color: rgb(56, 56, 194) !important;
  }
  .btn-link:hover{
    color: rgb(19, 19, 231) !important;
  }