

.dropdown-menu[data-bs-popper]{
    left:auto !important;
    right: 0;
}
.dropdown-menu{
    margin-right: 0px;
}


.vc{
    width: 80%;
    text-align: center;
  }
  header{
    position: relative;
    margin-top: 40px;
    text-align: center;
    font-family:sans-serif;
  }
  .title-story{
    font-size: x-large;
    font-weight: bold;
  }
  .title-chapter{
    font-size:larger;
    font-weight: bold;
  }
  
  
  .content{
    height: max-content;
    width: 80%;
  }
  .toolbar{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  .rd-basic_icon {
    background-color: #eee;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
    height: 50px;
    margin: 30px 0;
    overflow: hidden;
    width: 100%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .rd-basic_icon a {
    cursor: pointer;
    font-size: 20px;
    padding: 8px;
    color: black;
  }
  .rd-basic_icon a:hover{
    color: #5cb85c;
  }

  .content-chapter{
    max-width: 75%;
    text-align: center;
	  margin-left: auto;
    margin-right: auto;
  }
  .content-chapter img{
    display: block;
      margin: auto;
      position: relative;
      z-index: 1000;
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
  }
  .button-home-story{
	  max-width:70%;
	  margin-top:5%;
	  margin-left:auto;
	  margin-right:auto;
	  
  }


#rd_side_icon {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 4px;
  bottom: 30px;
  cursor: pointer;
  font-weight: 700;
  opacity: 1;
  position: fixed;
  right: 30px;
  z-index: 9999;
}

#rd_side_icon a{
  color: black;
}

#rd_side_icon a:hover {
  color: #5cb85c;
}



.rd_sd-button_item {
  border-bottom: 1px solid #ccc;
  display: block;
  font-size: 20px;
  font-weight: 400;
  padding: 16px 20px;
}
  /*
  select{
	  border-radius:20px!important;
  }
  */
  body {font-family: "Lato", sans-serif;}

