/* .navbar{
    background-color: rgb(89, 92, 91) !important;
} */
.navbar li .dropdown-item a{
    color: rgb(0, 0, 0) !important;
    text-decoration: none
}
.navbar .nav-link:hover{
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
}
.navbar-nav .nav-link{
    color: rgb(250, 29, 29);
}
li .nav-item{
    color: aqua;
}
.nav-item{
    color: #f1f1f1 !important
}
/*headroom thanh tab cuon*/
/* header{
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
} */

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }
  .headroom--pinned {
    transform: translateY(0%);
  }
  .headroom--unpinned {
    transform: translateY(-100%);
  }


.container1{
    justify-content:flex-end;
}
/*dropdown-menu*/
.dropdown-menu{
    margin-right: 0px;
}
.dropdown-menu[data-bs-popper]{
    left:auto !important;
    right: 0;
}
/*end dropdown-menu*/
.content1{
    right: 0;
}

.navbar-toggler{
    float: left;
}
.menu-phu{
    width: fit-content;
}
.navbar-text {
    padding-right:40%;

}

body {font-family: "Lato", sans-serif;}

.sidebar {
  /* height: 100%; */
  width: 170px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 16px;
/* top: 0; */
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #000000;
}

.main {
  margin-left: 175px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  
  
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* .table{
    position: fixed;
} */

/* //login// */
.text-center{
  text-align: center;
}
label{
  float: left;
}
.form-register{
  margin-top: 4%;
  margin-right: 30%;
  margin-left: 30%;
  border: solid 1px;
  padding: 3%;
  display: inline-block;
  /* margin-bottom: auto; */ 
}
.form-login{
  margin-top: 7%;
}
.title-form
{
  margin-top: 0;
  padding: 0;
}
/* .title-table{

} */
.table-content{
  padding-top: 1%;
}
/*title cho các bảng và home*/
.title-main{
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: solid gray;
}
.title-1{
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4px 8px;
  color: #fff;
  
}
.title-2{
  padding: 4px 8px;
  color: rgb(0, 0, 0);
}
.button-create{
  float: right;
  margin-right: 4%;
  margin-top: -1%;
}
/* footer{
  position: relative;
  left: 30px;
} */
.data-content{
   /* Same as the width of the sidenav */
  padding: 0px 10px;
  margin-top: 1%;
}
.nav-item {
  color: #f1f1f1 !important;
  margin-right: 11px !important;
}
.search-manager{
  width: 50%;
  float: right;
  margin-bottom: 1%;
}
.navbar-nav .nav-link {
  color: rgb(238, 252, 49);
}
.categogy-story{
  background-color: rgb(59, 58, 58);
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0 10px;
  color: white;
}
.state-story{
  color: green !important;
  }
  .status-enable{
      color: green !important;
  }
  .status-disable{
      color: red !important;
  }
  /* a{
      text-decoration: none;
      
  } */
  .isDisable {
    color: currentColor;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
  }
  .center-pagination nav{
    display: inline-block;
  }
  #displayImg img{
    width: 160px; 
    height: 230;
  }