.categogy-story{
    background-color: rgb(59, 58, 58);
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 10px;
    color: white;
}
.state-story{
color: green !important;
}
.status-enable{
    color: green !important;
}
.status-disable{
    color: red !important;
}
a{
    text-decoration: none;
    
}